/* Titulo Index*/

.jt {
    position: relative;
    font-size: 50px;
    font-family: "Staatliches", sans-serif;
    text-transform: uppercase;
    font-display: swap;
    text-shadow: 0 0 10px tomato;
}

.jt__row {
    display: block;

    &:nth-child(1) {
        clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);

        .jt__text {
            transform: translateY(-0.1em);
        }
    }

    &:nth-child(2) {
        clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);

        .jt__text {
            transform: translateY(-0.3em) scaleY(1.1);
        }
    }

    &:nth-child(3) {
        clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);

        .jt__text {
            transform: translateY(-0.5em) scaleY(1.2);
        }

    }

    &:nth-child(4) {
        clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);

        .jt__text {
            transform: translateY(-0.7em) scaleY(1.3);
        }
    }

    .jt__row:nth-child(5) .jt__text {
        transform: translateY(-0.9em) scaleY(1.4);
    }

    .jt__row:nth-child(6) .jt__text {
        transform: translateY(-1.1em) scaleY(1.5);
    }
}

.jt__row--sibling {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
}

.jt__text {
    display: block;
    transform-origin: bottom left;
    animation: moveIn 2s 0s cubic-bezier(0.36, 0, 0.06, 1) alternate infinite;
}

.debug {

    &:nth-child(even) {
        color: black;
        background: white;

        &:nth-child(odd) {
            color: white;
            background: black;
        }
    }
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 14px 0;
}

/* cuerpo body*/

.section-cuerpo {
    margin: 30px;
    background-color: $secondary;
    position: relative;

}

.section_cuerpo_colum {
    float: left;
    position: relative;
    z-index: 2;
    min-height: 1px;
    width: 29.6667%;
    margin-right: 2.5%;

    h4 {
        font-weight: 600;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        font-size: 18px;
        padding-bottom: 10px;
        line-height: 1em;
    }


    .section_cuerpo_content {
        color: #f4f4f4;
        line-height: 1.5em;
        text-align: center;
        padding-bottom: 1em;
        font-size: 14px;
        font-weight: 300;
    }
}

.section_cuerpo_content {
    i {
        font-size: 4.3em;
    }
}

.sections_cuerpo {
    li {
        margin-left: 1px;
        margin-top: -5px;
        font-size: 2em;
        padding-top: 10px;
    }
}